.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

@media print {
	.print-block {
		display: block !important;
		page-break-inside: avoid;
	}
}

.editable {
	cursor: pointer;
}

/* Requip pour la navbar floatante */
body, .bottom {
	padding-top: 50px;
}